<input type="text" id="btag_input" />
<button id="btag_submit" type="button">Pick my heroes!</button>

<%= for {class, heroes} <- hero_data() do %>
  <%= for name <- heroes do %>
    <div class="hero class_<%= class %>">
      <div class="name"><%= name %></div>
      <div class="time">&nbsp;</div>
      <div class="rarity">&nbsp;</div>
      <div class="chance">&nbsp;</div>
    </div>
  <% end %>
<% end %>
